@charset "UTF-8";
/**
 * 汎用的なCSSまとめ
 *
 * @author okutani
 */

html {
  font-size: 62.5%; /* 約10px */
}

body {
  /*ゴシック*/
  font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  /*明朝*/
  /*font-family:Times New Roman , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN , "MSP明朝","MS PMincho","MS 明朝",serif;*/
  color: #333;
  font-size: 1.6em; /*Chromeでたまに文字が大きくなるので、bodyだけremでなくてemを使う*/
  letter-spacing: 1px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*margin*/
.m0 { margin: 0 }
.m3 { margin: 3px }
.m5 { margin: 5px }
.m10 { margin: 10px }
.m15 { margin: 15px }
.m20 { margin: 20px }
.m30 { margin: 30px }

.mt0 { margin-top: 0 }
.mt3 { margin-top: 3px }
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mt30 { margin-top: 30px }

.mb0{ margin-bottom: 0 }
.mb3 { margin-bottom: 3px }
.mb5 { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb30 { margin-bottom: 30px }

/*padding*/
.p0 { padding: 0 }
.p3 { padding: 3px }
.p5 { padding: 5px }
.p10 { padding: 10px }
.p15 { padding: 15px }
.p20 { padding: 20px }
.p30 { padding: 30px }

.pt0 { padding-top: 0 }
.pt3 { padding-top: 3px }
.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pt15 { padding-top: 15px }
.pt20 { padding-top: 20px }
.pt30 { padding-top: 30px }

.pb0 { padding-bottom: 0 }
.pb3 { padding-bottom: 3px }
.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb15 { padding-bottom: 15px }
.pb20 { padding-bottom: 20px }
.pb30 { padding-bottom: 30px }

.pr0 { padding-right: 0 }
.pr3 { padding-right: 3px }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr15 { padding-right: 15px }
.pr20 { padding-right: 20px }
.pr30 { padding-right: 30px }

.pl0 { padding-left: 0 }
.pl3 { padding-left: 3px }
.pl5 { padding-left: 5px }
.pl10 { padding-left: 10px }
.pl15 { padding-left: 15px }
.pl20 { padding-left: 20px }
.pl30 { padding-left: 30px }

/*width*/
.w100p { width: 100% }
.w50p { width: 50% } /*2分割*/
.w33p { width: 33% } /*3分割*/
.w25p { width: 25% } /*4分割*/

/*color*/
.color-dp { color: deeppink }
.color-w { color: #fff }
.color-gc { color: #ccc; }

/*background-color*/
.bgc-w { background-color: #fff }
.bgc-gc { background-color: #ccc }
.bgc-f8 { background-color: #f8f8f8 }

/*table*/
th { white-space:nowrap }
.table-fixed{ table-layout: fixed }
.table-center td, .table-center th {
  text-align: center;
}

/*vertical-align*/
.vmiddle { vertical-align: middle !important }

/*display none*/
.hide { display: none }

/*display show*/
.show { display: block }

/*display inline-block*/
.inline-block { display: inline-block }

/*box-shadow(bootstrap)*/
.box-shadow { box-shadow: 0 1px 3px rgba(0,0,0,.25) }

/*block center*/
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*text-align*/
.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }

/*float*/
.pull-left { float: left }
.pull-right { float: right }

/*image responsive*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
 * ズルい線
 * 参考: https://speakerdeck.com/ken_c_lo/zurui-design
 */
.zlt {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}
.zlb {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}
.zlr {
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, .2);
  box-shadow: -1px 0 0 rgba(255, 255, 255, .3) inset;
}
.zll {
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 1px 0 0 rgba(255, 255, 255, .3);
}

/* Sticky footer styles (bootstrap)
 * <footer class="footer">
 *   <div class="container">
 *     <p class="text-muted">Place sticky footer content here.</p>
 *   </div>
 * </footer>
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #ccc;
  .copyright {
    line-height: 40px;
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  .text-muted {
    margin: 20px 0;
  }
}
